@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: #905E96;
}

.container {
    background-color: #D58BDD;
    width: 50%;
    padding: 5px 10px;
    margin: 50px auto;
    border-radius: 12px;
}

.title {
    margin-bottom: 1rem;
    text-align: center;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    margin-bottom: 5px;
}

input {
    margin-bottom: 25px;
}

input[type="text"] {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.box {
    height: 100px;
    width: 100%;
    background-color: #FFD372;
    margin-bottom: 25px;
}


.toggle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-text {
    font-size: 18px;
}

.toggle-btn {
    height: 30px;
    width: 60px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    margin: 0 10px;
}

.inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: all 250ms;
}

.toggle-btn.toggled>.inner-circle {
    transform: translateX(30px);
    background-color: #333;
}

.unselected {
    opacity: 0.25;
}